@layer payload-default {
  :root {
    --theme-color: #00629B;
    --theme-color-hover: #0099D6;
    --theme-color-400: #0080B3;
    --theme-color-500: #00629B;
    --theme-color-600: #004D7A;
    --theme-color-800: #002D52;
  }
}
