node_modules
.next
.git
.gitignore
.env*.local
.env
*.md
!README.md
docs
scripts
.vscode
.idea
*.log
*.csv
*.pdf
*.docx
*.HEIC
*.heic
certificates
backups
mcp-server-appwrite
.github
.wrangler
.open-next
