GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

PAYMENT_API_URL=http://pay.mulearnscet.in
PAYMENT_WEBHOOK_SECRET=

SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=

NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_UPI_ID=
NEXT_PUBLIC_MERCHANT_NAME=IEEE Sahrdaya SB

# PocketBase
POCKETBASE_URL=http://127.0.0.1:8090
POCKETBASE_SUPERUSER_TOKEN=
